<div id="tree-view" class="demo">
  <ul>
    <% @albums.each_with_index do |album,i| %>
      <li id="albums_<%= album.id %>" <% if i==0 %>class="jstree-open"<% end %>>
        <a href="#"><%= album.name %></a>
        <ul>
          <% album.photos.each do |photo| %>
            <li id="albums_<%= album.id %>_photos_<%= photo.id %>">
              <a href="#"><%= photo.name %></a>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
</div>

<div id="photo-view" class="spotlight-container">
</div
